# Core
numpy
pandas
matplotlib
tqdm

# ML / DL
torch
torchvision
transformers
datasets
accelerate
trl
keras
huggingface-hub
sentencepiece
tokenizers

# LLM client / server
lmstudio

# Reinforcement Learning / environments
gym

# Utility
scikit-learn
cloudpickle

# Crafter environment (installato con PYTHONUTF8=1 su Windows)
crafter>=1.8.3